@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #f5f5f9;
    font-family: 'Rubik', sans-serif;
}


a{
    text-decoration: none;
}

.fill-red{
    fill: red;
}

.sp-card:nth-child(1){
    color:white
}
div ::-webkit-scrollbar{
    width: 5px;
}
div ::-webkit-scrollbar-thumb{
    background-color:rgb(176, 176, 176);
    border-radius: 20px;
}
.no-transform{
    transform: translate(0%);
}
.blog-card:hover img{
    transform: scale(1.05);
}
.show{
    padding-top:10px ;
    height: auto;
}
.rotate180{
    transform: rotate(180deg);
    transform-origin: center;
}

.hide{
    height: 100%;
}



